---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Alive" description="Alive is a daily questions bot. It will message you every day, prompting for self-evaluation." url="https://alive.app/">
  <main>
    <h1 class="text-3xl font-bold underline">Hello World</h1>
    <p class="text-lg">This is a test</p>
  </main>
</Layout>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
</style>
<style>
  @reference '../styles/global.css';

  :root {
    font-family: 'Lora', serif;
    background-color: #ffffff;
    color: #242f3f;
  }
</style>
